{{ define "PageContent" -}}

<main class="change-password">
    <h2>Change Password</h2>
    <form action="/forms/change-user-password" method="post">
        <label>
            Email:
            <input readonly value="{{ .Email }}" />
        </label>
        <label>
            Password:
            <input name="password" type="password" minlength="8" required />
        </label>
        <label>
            Confirm Password:
            <input name="confirm_password" type="password" minlength="8" required />
        </label>
        <input name="token" type="hidden" value="{{ .Token }}">
        <button type="submit">Save</button>
    </form>
</main>

{{- end }}