{{ define "PageContent" -}}

<main class="home">
    <p><a href="/note">Add Note</a></p>
    <ol>
        {{ range .Notes -}}
        <li>
            <pre>{{ .Content }}</pre>
            <p><a href="/note?id={{ .ID }}">Edit</a> <a href="/note?id={{ .ID }}&delete=true">Delete</a></p>
            <!-- Reordering buttons. -->
            <form method="post">
                <input name="id" type="hidden" value="{{ .ID }}">
                <input name="priority_change" type="hidden" value="highest">
                <button type="submit" formaction="/forms/change-note-priority">⤒</button>
            </form>
            <form method="post">
                <input name="id" type="hidden" value="{{ .ID }}">
                <input name="priority_change" type="hidden" value="up">
                <button type="submit" formaction="/forms/change-note-priority">↑</button>
            </form>
            <form method="post">
                <input name="id" type="hidden" value="{{ .ID }}">
                <input name="priority_change" type="hidden" value="down">
                <button type="submit" formaction="/forms/change-note-priority">↓</button>
            </form>
            <form method="post">
                <input name="id" type="hidden" value="{{ .ID }}">
                <input name="priority_change" type="hidden" value="lowest">
                <button type="submit" formaction="/forms/change-note-priority">⤓</button>
            </form>
        </li>
        {{- end }}
    </ol>
</main>

{{- end }}