{{ define "PageContent" -}}

<main class="login">
    <h2>Log In</h2>
    <form action="/forms/login" method="post">
        <label>
            Email:
            <input name="email" type="email" required />
        </label>
        <label>
            Password:
            <input name="password" type="password" required />
        </label>
        <label>
            <input name="persist" type="checkbox">
            Stay Logged In?
        </label>
        <button type="submit">Log In</button>
    </form>
    <p><a href="/register">Register New User</a></p>
    <p><a href="/recover-password">Recover Password</a></p>
</main>

{{- end }}