{{ define "PageContent" -}}

<main class="note">
    {{ if .Note.ID -}}
    {{ if .Delete -}}
    <h2>Delete Note</h2>
    <textarea readonly>{{ .Note.Content }}</textarea>
    <p><strong>Are you sure you want to delete this note?</strong></p>
    <form method="post">
        <input name="id" type="hidden" value="{{ .Note.ID }}">
        <button type="submit" formaction="/forms/delete-note">Delete</button>
    </form>
    {{ else -}}
    <h2>Edit Note</h2>
    <form method="post">
        <textarea name="content" required>{{ .Note.Content }}</textarea>
        <input name="id" type="hidden" value="{{ .Note.ID }}">
        <button type="submit" formaction="/forms/change-note-content">Save</button>
    </form>
    {{- end }}
    {{ else -}}
    <h2>New Note</h2>
    <form action="/forms/create-note" method="post">
        <textarea name="content" required></textarea>
        <button type="submit">Save</button>
    </form>
    {{- end }}
</main>

{{- end }}