{{ define "PageContent" -}}

<main class="profile">
    <h2>Profile</h2>
    {{ if .Edit -}}
    <form action="/forms/change-user-email" method="post">
        <label>
            Email:
            <input name="email" type="email" value="{{ .User.Email }}" required />
        </label>
        <button type="submit">Save</button>
    </form>
    {{ else -}}
    <label>
        Email:
        <input readonly value="{{ .User.Email }}" />
    </label>
    <p><a href="/profile?edit=true">Edit</a> <a href="/change-password">Change Password</a></p>
    {{- end }}
</main>

{{- end }}