{{ define "PageContent" -}}

<main class="recover-password">
    <h2>Recover Password</h2>
    {{ if .SubmittedEmail -}}
    <p>If an account exists for {{ .SubmittedEmail }}, then you'll receive an email within a few minutes that may be used to finish the password recovery process.</p>
    {{ else -}}
    <p>Please enter the email address associated with your user account.</p>
    <form action="/forms/recover-user-password" method="post">
        <label>
            Email:
            <input name="email" type="email" required />
        </label>
        <button type="submit">Submit</button>
    </form>
    {{- end }}
</main>

{{- end }}