{{ define "PageContent" -}}

<main class="register">
    <h2>Register</h2>
    <form action="/forms/register" method="post">
        <label>
            Email:
            <input name="email" type="email" required />
        </label>
        <label>
            Password:
            <input name="password" type="password" minlength="8" required />
        </label>
        <button type="submit">Register</button>
    </form>
</main>

{{- end }}